@media (max-width:1024px) {

    /* Login.jsx */

    .signin-and-heading-text-flex-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .signin-box-text{
        display: none;
    }
}

.signin-box-text{
    display: flex;
    justify-content:center;
    flex-direction: column;
}