.banner {
    color: white;
    object-fit: contain;
    height: 100vh;
    transition: background-image 0.5s ease-in-out;
  }
  .banner:hover{
    background-size: 110%;
  }

  .banner-button {
    cursor: pointer;
    margin-right: 2rem;
  }

  .banner-button:hover {
    color: #d8efea;
  }
  .banner-title{
    /* margin-top: 200px; */
    font-weight: 800;
    /* padding-bottom: 0.3rem; */
  }
  .banner-contents {
    padding-top: 200px;
    height: 300px;
  }
  .related-main{
    display: flex;
    background-color: #eaeded;
    /* grid-template-columns: repeat(1fr 1fr 1fr); */
}
.main-box{
  background-color: #f8f8f8;
}

.main-box::-webkit-scrollbar{
  display: none;
}